
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.App {
    max-width: 1920px;
    margin: 0 auto;

}
@media (max-width:1920px){

}

.search{
background-color: #9b9494;
 height: 300px;
 margin: 0 auto;
}

.container {
 margin: 0 auto;
 width: 400px;
}
h1{
 text-align: center;
 padding-top: 50px;
}

input{
 width: 400px;
 height: 40px;
 display: block;
}
.menu{
  display: flex;

}

.content{
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
