.description {  
    width: 100%;
    display: flex;

}

.cover_book {
    height: 600px;
    width: 50%;
    background-color: #d0c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description_book{
    width: 80%;
    text-align: left;
}

.cover_book .img {
    background-repeat: no-repeat;
    background-size: contain;
    height: 90%;
    width: 90%;
    display: block;
}

.description_book {
    width: 50%;
    padding: 20px;
}

@media screen and (max-width: 500px) {
    .description {
        flex-direction: column;
    }

    .cover_book {
        width: 100%;
    }

    .description_book {
        width: 100%;
    }
}